<div class="container">
  <div class="listContainer">
    <ul class="list-group">
      <div class="list-group-item" *ngFor="let vehicle of vehicles">
        <div class="list-group-item__box">
          <h5 class="listHeader"> {{vehicle.make}} {{vehicle.model}}</h5>

          <p class="list-group-item-text">
            <b>{{"VEHICLE.PLATE_NUMBER" | translate}}:</b> {{vehicle.plateNumber}}
          </p>

          <p class="list-group-item-text ">
            <b>{{"VEHICLE.VIN" | translate}}:</b> {{vehicle.vin}}
          </p>

          <p class="list-group-item-text" *ngIf="vehicle.currentEmployee">
            <b>{{"VEHICLE.CURRENT_EMPLOYEE" | translate}}
              : </b>{{vehicle.currentEmployee.firstName}} {{vehicle.currentEmployee.lastName}}
          </p>

          <p class="list-group-item-text ">
            <b>{{"VEHICLE.HORSE_POWER" | translate }}</b> {{"VEHICLE.HORSE_POWER_VALUE" | translate :{horsePower: vehicle.horsePower} }}
          </p>

          <p class="list-group-item-text ">
            <b>{{"VEHICLE.WEIGHT" | translate }}</b> {{"VEHICLE.WEIGHT_VALUE" | translate :{weight: vehicle.weight} }}
          </p>

          <p class="list-group-item-text ">
            <b>{{"VEHICLE.FIRST_REGISTRATION" | translate}}
              :</b> {{vehicle.firstRegistration | date :'longDate' }}
          </p>

          <p class="list-group-item-text ">
            <b>{{"VEHICLE.YEAR_OF_PRODUCTION" | translate}}:</b> {{vehicle.yearOfProduction}}
          </p>

          <p class="list-group-item-text ">
            <button type="button" class="btn btn-info" (click)="openInsuranceInformationModal(vehicle)"><i
              class="far fa-edit"></i>  {{"ADMIN_VIEW.INSURANCE_INFO" | translate}} </button>
          </p>
        </div>
        <div class="list-group-item__box">
          <button type="button" class="btn btn-success" (click)="openEditVehicleModal(vehicle)"><i
            class="far fa-edit"></i>  {{"UNIVERSAL.EDIT" | translate}} </button>
          <button type="button" class="btn btn-danger" (click)="openDeleteVehicleModal(vehicle)"><i
            class="far fa-edit"></i>  {{"UNIVERSAL.DELETE" | translate}} </button>
        </div>
      </div>
    </ul>
  </div>
</div>
