@import "src/styles.scss";
.container {
  margin-top: 3em;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.listContainer {
  margin: 3em;
}

.card {
  margin: 1em;
}

.list-group-item-text {
  margin-left: 6em;
}

.listHeader {
  margin: 0.5em;
  padding: 0.5em;
}

.list-group-item {
  margin: 2em;
  border: 1px solid $color-border;
  border-radius: 2em;
  word-wrap: break-word;
  min-width: 360px;
  display: flex;
}

.list-group-item__box {
  flex-direction: row;
  flex-grow: 3;
}

.list-group-item__box:last-child {
  justify-content: end;
  align-items: center;
  display: grid;
}

.btn-secondary {
  margin: 1.5em;
}
