<div class="modal-header">
  <h3 class="modal-title" *ngIf="isEditMode">{{"ADMIN_VIEW.MODALS.WORKSHOP_EDITING_MODAL.TITLE_EDIT" | translate}}</h3>
  <h3 class="modal-title" *ngIf="!isEditMode">{{"ADMIN_VIEW.MODALS.WORKSHOP_EDITING_MODAL.TITLE_ADD" | translate}}</h3>
</div>
<div class="modal-body">
  <form [formGroup]="workshopForm" class="form-signin" (ngSubmit)="onSaveWorkshopPress()" autocomplete="off">

    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.WORKSHOP_EDITING_MODAL.WORKSHOP_NAME" | translate}}:</b>
      </p>
      <div class="form-group">
        <input formControlName="workshopName" type="text" class="form-control" name="workshopName" placeholder="Workshop name"/>
      </div>
      <div *ngIf="workshopForm.controls.workshopName.invalid" class="alert-danger">
        <div *ngIf="workshopForm.controls['workshopName'].errors.maxlength">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.MAX_LENGTH" | translate }}
        </div>
      </div>
    </div>

    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.WORKSHOP_EDITING_MODAL.EMAIL" | translate}}:</b>
      </p>
      <div class="form-group">
        <input formControlName="email" type="email" class="form-control" name="email"/>
      </div>
      <div *ngIf="workshopForm.controls.email.invalid" class="alert-danger">
        <div *ngIf="workshopForm.controls['email'].errors.maxlength">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.MAX_LENGTH" | translate }}
        </div>
      </div>
    </div>

    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.WORKSHOP_EDITING_MODAL.PHONE_NUMBER" | translate}}:</b>
      </p>
      <div class="form-group">
        <input formControlName="phoneNumber" type="text" class="form-control" name="phoneNumber" placeholder="693 999 999"/>
      </div>
      <div *ngIf="workshopForm.controls.email.invalid" class="alert-danger">
        <div *ngIf="workshopForm.controls['phoneNumber'].errors.maxlength">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.MAX_LENGTH" | translate }}
        </div>
        <div *ngIf="workshopForm.controls['phoneNumber'].errors.pattern">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.INVALID_PATTERN" | translate }}
        </div>
      </div>
    </div>

    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.DEPARTMENT_MODAL.REGION" | translate}}:</b>
      </p>
      <select class="custom-select form-control" formControlName="region" name="region">
        <option [ngValue]="workshop.region"> {{workshop.region.regionName}}</option>
        <option *ngFor="let region of regions" [ngValue]="region"> {{region.regionName}}</option>
      </select>
    </div>

    <div formGroupName="address">
      <div>
        <p class="list-group-item-text">
          <b>{{"ADMIN_VIEW.MODALS.WORKSHOP_EDITING_MODAL.CITY"| translate}}:</b>
        </p>
        <div class="form-group">
          <input formControlName="city" type="text" class="form-control" name="city" placeholder="Warszawa"/>
        </div>
        <div *ngIf="workshopForm.controls.address['controls']['city'].errors" class="alert-danger">
          <div *ngIf="workshopForm.controls.address['controls']['city'].errors['maxlength']">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            {{"ADMIN_VIEW.MODALS.VALIDATION.MAX_LENGTH" | translate }}
          </div>
        </div>
      </div>
      <div>
        <p class="list-group-item-text">
          <b>{{"ADMIN_VIEW.MODALS.WORKSHOP_EDITING_MODAL.POSTAL_CODE"| translate}}:</b>
        </p>
        <div class="form-group">
          <input formControlName="postalCode" type="text" class="form-control" name="postalCode" placeholder="42-902"/>
        </div>
        <div *ngIf="workshopForm.controls.address['controls']['postalCode'].errors" class="alert-danger">
          <div *ngIf="workshopForm.controls.address['controls']['postalCode'].errors['maxlength']">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            {{"ADMIN_VIEW.MODALS.VALIDATION.MAX_LENGTH" | translate }}
          </div>
        </div>
      </div>
      <div>
        <p class="list-group-item-text">
          <b>{{"ADMIN_VIEW.MODALS.WORKSHOP_EDITING_MODAL.STREET_ADDRESS" | translate}}:</b>
        </p>
        <div class="form-group">
          <input formControlName="streetAddress" type="text" class="form-control" name="streetAddress" placeholder="ul. Domaniewska 52/5"/>
        </div>
        <div *ngIf="workshopForm.controls.address['controls']['streetAddress'].errors" class="alert-danger">
          <div *ngIf="workshopForm.controls.address['controls']['streetAddress'].errors['maxlength']">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            {{"ADMIN_VIEW.MODALS.VALIDATION.MAX_LENGTH" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.WORKSHOP_EDITING_MODAL.LONGITUDE" | translate}}:</b>
      </p>
      <div class="form-group">
        <input formControlName="longitude" type="text" class="form-control" name="longitude" placeholder="21.00000000"/>
      </div>
      <div *ngIf="workshopForm.controls.email.invalid" class="alert-danger">
        <div *ngIf="workshopForm.controls['longitude'].errors.minvalue">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.MIN_VALUE" | translate }}
        </div>
        <div *ngIf="workshopForm.controls['longitude'].errors.maxvalue">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.MAX_VALUE" | translate }}
        </div>
      </div>
    </div>

    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.WORKSHOP_EDITING_MODAL.LATITUDE" | translate}}:</b>
      </p>
      <div class="form-group">
        <input formControlName="latitude" type="text" class="form-control" name="latitude" placeholder="52.00000000"/>
      </div>
      <div *ngIf="workshopForm.controls.email.invalid" class="alert-danger">
        <div *ngIf="workshopForm.controls['latitude'].errors.minvalue">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.MIN_VALUE" | translate }}
        </div>
        <div *ngIf="workshopForm.controls['latitude'].errors.maxvalue">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.MAX_VALUE" | translate }}
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!this.workshopForm.valid">
        <i class="far fa-save"></i>  {{"UNIVERSAL.SAVE" | translate}} </button>
      <button type="button" class="btn btn-danger" (click)="onCancelPress()">
        <i class="far fa-times-circle"></i>  {{"UNIVERSAL.CANCEL" | translate}} </button>
    </div>
  </form>
</div>
