<div class="container">
  <div class="form-group">
    <label for="exampleFormControlSelect1">{{"ADMIN_EXPENSES.SELECT_VEHICLE" | translate}}</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option *ngFor="let vehicle of vehicles"
              (click)="getVehicleExploatationData(vehicle.id)"> {{getVehicleShortInformation(vehicle)}}</option>
    </select>
  </div>
  <div class="row" *ngIf="isVehicleSelected">
    <div class="col">
      <button type="button" class="btn btn-secondary"
              (click)="changeCurrentComponent('CAR_PART_EXPENSES')">
        {{"ADMIN_EXPENSES.CAR_PART_EXPENSES" | translate}}
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary"
              (click)="changeCurrentComponent('FUEL_EXPENSES')">
        {{"ADMIN_EXPENSES.FUEL_EXPENSES" | translate}}
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary"
              (click)="changeCurrentComponent('CAR_SERVICE_EXPENSES')">
        {{"ADMIN_EXPENSES.CAR_SERVICE_EXPENSES" | translate}}
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary"
              (click)="changeCurrentComponent('OTHER_EXPENSES')">
        {{"ADMIN_EXPENSES.OTHER_EXPENSES" | translate}}
      </button>
    </div>
  </div>

  <div class="container" *ngIf="exploitationReport">
     <template #employeeExpensesCurrentComponent></template>
    <app-car-part-expenses *ngIf="this.currentComponentName==='CAR_PART_EXPENSES'"
                           [carPartExpenses]="exploitationReport.carPartsExpenses"
                           [vehicle]="selectedVehicle">
    </app-car-part-expenses>
    <app-fuel-expenses *ngIf="this.currentComponentName==='FUEL_EXPENSES'"
                       [fuelExpenses]="exploitationReport.fuelExpenses"
                       [vehicle]="selectedVehicle">
    </app-fuel-expenses>
    <app-car-service-expenses *ngIf="this.currentComponentName==='CAR_SERVICE_EXPENSES'"
                              [serviceExpenses]="exploitationReport.serviceExpenses"
                              [vehicle]="selectedVehicle">
    </app-car-service-expenses>
    <app-other-expenses *ngIf="this.currentComponentName==='OTHER_EXPENSES'"
                        [otherExpenses]="exploitationReport.otherExpenses"
                        [vehicle]="selectedVehicle">
    </app-other-expenses>
  </div>
</div>
