@mixin component--container {
  width: 90%;
  height: 600px;
  margin: 5% 5%;
}

.leaflet-container {
  isolation: isolate;
  z-index: 0
}

.leaflet--map--container {
  @include component--container;
  z-index: 0
}

.workshop--details--container {
  @include component--container;
  padding: 0 4em;

  p {
    padding: 0 2em;
  }
}

.align-left {
  display: flex;
  justify-content: flex-end;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
