<div class="modal-header">
  <h3 class="modal-title">{{"ADMIN_VIEW.MODALS.ADD_FUEL_EXPENSE_MODAL.TITLE" | translate}}</h3>
</div>
<div class="modal-body">
  <form [formGroup]="fuelExpenseForm" class="form-signin" (ngSubmit)="onSavePress()" autocomplete="off">
    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.VALUE" | translate}}:</b>
      </p>
      <div class="form-group">
        <input formControlName="value" type="number" class="form-control" name="value"/>
      </div>
      <div *ngIf="fuelExpenseForm.controls['value'].errors" class="alert-danger">
        <div *ngIf="fuelExpenseForm.controls['value'].errors.required">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.REQUIRED" | translate }}
        </div>
        <div *ngIf="fuelExpenseForm.controls['value'].errors.minlength">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.MIN_LENGTH" | translate }}
        </div>
      </div>
    </div>
    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.CURRENCY" | translate}}:</b>
      </p>
      <div class="form-group">
        <input formControlName="currency" type="text" class="form-control" name="currency"
               [minLength]="this.getCurrencyLength()" [maxLength]="getCurrencyLength()"/>
      </div>
      <div *ngIf="fuelExpenseForm.controls['currency'].errors" class="alert-danger">
        <div *ngIf="fuelExpenseForm.controls['currency'].errors.required">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.REQUIRED" | translate }}
        </div>
        <div *ngIf="fuelExpenseForm.controls['currency'].errors.minlength">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.MIN_LENGTH" | translate }}
        </div>
        <div *ngIf="fuelExpenseForm.controls['currency'].errors.minlength">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.MAX_LENGTH" | translate }}
        </div>
      </div>
    </div>
    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.DATE" | translate}}:</b>
      </p>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" formControlName="date"
                 name="dp1" ngbDatepicker #dt1="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dt1.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div *ngIf="fuelExpenseForm.controls['date'].errors" class="alert-danger">
        <div *ngIf="fuelExpenseForm.controls['date'].errors.required">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.REQUIRED" | translate }}
        </div>
      </div>
    </div>
    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.COMMENT" | translate}}:</b>
      </p>
      <div class="form-group">
        <label class="textarea--label--container">
          <textarea class="form-control" rows="4" formControlName="comment"></textarea>
        </label>
      </div>
      <div *ngIf="fuelExpenseForm.controls['comment'].errors" class="alert-danger">
        <div *ngIf="fuelExpenseForm.controls['comment'].errors.required">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.REQUIRED" | translate }}
        </div>
      </div>
    </div>
    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.CURRENT_KILOMETRAGE" | translate}}:</b>
      </p>
      <div class="form-group">
        <input formControlName="currentKilometrage" type="number" class="form-control"
               name="currentKilometrage" pattern="[0-9]*"/>
      </div>
      <div *ngIf="fuelExpenseForm.controls['currentKilometrage'].errors" class="alert-danger">
        <div *ngIf="fuelExpenseForm.controls['currentKilometrage'].errors.required">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.REQUIRED" | translate }}
        </div>
        <div *ngIf="fuelExpenseForm.controls['currentKilometrage'].errors.pattern">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.WRONG_VALUE" | translate }}
        </div>
      </div>
    </div>
    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.ADD_FUEL_EXPENSE_MODAL.FUEL_AMOUNT" | translate}}:</b>
      </p>
      <div class="form-group">
        <input formControlName="fuelAmount" type="number" class="form-control"
               name="fuelAmount" pattern="[0-9]*"/>
      </div>
      <div *ngIf="fuelExpenseForm.controls['fuelAmount'].errors" class="alert-danger">
        <div *ngIf="fuelExpenseForm.controls['fuelAmount'].errors.required">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.REQUIRED" | translate }}
        </div>
        <div *ngIf="fuelExpenseForm.controls['fuelAmount'].errors.min">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.MIN_VALUE" | translate }}
        </div>
      </div>
    </div>
    <div>
      <p class="list-group-item-text">
        <b>{{"ADMIN_VIEW.MODALS.ADD_FUEL_EXPENSE_MODAL.FUEL_TYPE" | translate}}:</b>
      </p>
      <div class="form-group">
          <select class="form-control" formControlName="fuelType" name="fuelType">
            <option *ngFor="let fuelType of fuelTypeValues">{{fuelType}}</option>
          </select>
      </div>
      <div *ngIf="fuelExpenseForm.controls['fuelType'].errors" class="alert-danger">
        <div *ngIf="fuelExpenseForm.controls['fuelType'].errors.required">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          {{"ADMIN_VIEW.MODALS.VALIDATION.REQUIRED" | translate }}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!this.fuelExpenseForm.valid">
        <i class="far fa-save"></i>  {{"UNIVERSAL.SAVE" | translate}} </button>
      <button type="button" class="btn btn-danger" (click)="onCancelPress()">
        <i class="far fa-times-circle"></i>  {{"UNIVERSAL.CANCEL" | translate}} </button>
    </div>
  </form>
</div>
