<div class="container" *ngIf="technicalExaminations ">
  <app-technical-examination [canDeleteTechnicalExaminations]="false"
                             [technicalExaminations]="technicalExaminations"
                             (deleteTechnicalExaminationEmitter)="initializeTechnicalExaminations()"></app-technical-examination>
</div>
<div class="container" *ngIf="!technicalExaminations || technicalExaminations.length <= 0 ">
  <div class="alert alert-warning" role="alert">
    {{"ADMIN_TECHNICAL_EXAMINATION.TECHNICAL_EXAMINATIONS_NOT_FOUND" |translate}}
  </div>
</div>
