@import './src/styles.scss';

$invalid--input--color: red;
input, textarea {
  &.ng-invalid {
    border: 1px solid $invalid--input--color;
    transition: $invalid--input--color 0.15s ease-in-out, box-shadow $invalid--input--color 0.15s ease-in-out;
  }
}

.form-control:focus {
  &.ng-invalid {
    box-shadow: 0 0 2px 0 $invalid--input--color;
  }
}
.textarea--label--container {
  width: 100%;
}

.modal-footer {
  margin-top: 4em
}

.alert-danger {
  background-color: transparent;
  margin-left: 1em;
}

.form-group {
  margin-bottom: 0;
}

p {
  margin: 0.5em;
}
.alert-warning{
  margin: 1em;
}
