<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10 header--button--container">
    <button type="button" class="btn btn-success btn-circle btn-lg"><i class="fa fa-plus"></i></button>
  </div>
  <div class="col-1">
  </div>
</div>
<div *ngIf="otherExpenses.length > 0">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">{{"ADMIN_EXPENSES.COMMON.DATE" |translate}}</th>
      <th scope="col">{{"ADMIN_EXPENSES.COMMON.KILOMETRAGE" |translate}}</th>
      <th scope="col">{{"ADMIN_EXPENSES.COMMON.VALUE" |translate}}</th>
      <th scope="col">{{"ADMIN_EXPENSES.COMMON.COMMENT" |translate}}</th>
      <th scope="col">{{"ADMIN_EXPENSES.OTHER_EXPENSES_COMPONENT.ITEM_COUNT" |translate}}</th>
      <th scope="col">{{"ADMIN_EXPENSES.OTHER_EXPENSES_COMPONENT.ITEM_COUNT" |translate}}</th>
      <th scope="col">{{"UNIVERSAL.DELETE" |translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let expense of otherExpenses">
      <td>{{expense.date |date}}</td>
      <td>{{expense.currentKilometrage}}</td>
      <td>{{expense.value | number}} {{expense.currency}}</td>
      <td>{{expense.comment}}</td>
      <td>{{expense.itemCount | number}}</td>
      <td>{{expense.itemCount * expense.value | number}}</td>
      <td>
        <button class="btn btn-danger" (click)="openDeleteExpenseModal(expense)">
          {{"UNIVERSAL.DELETE" |translate}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="otherExpenses.length <= 0">
  <app-expenses-not-found></app-expenses-not-found>
</div>

