<div>
  <p class="list-group-item-text">
    <b>{{"ADMIN_VIEW.MODALS.INSURANCE_NUMBER" | translate}}:</b>  {{insurance.insuranceNumber}}
  </p>
  <p class="list-group-item-text">
    <b>{{"ADMIN_VIEW.MODALS.COMPANY_NAME" | translate}}:</b>  {{insurance.companyName}}
  </p>
  <p class="list-group-item-text">
    <b>{{"ADMIN_VIEW.MODALS.START_DATE" | translate}}:</b>  {{insurance.startDate | date}}
  </p>
  <p class="list-group-item-text">
    <b>{{"ADMIN_VIEW.MODALS.END_DATE" | translate}}:</b>  {{insurance.endDate | date}}
  </p>
  <p class="list-group-item-text">
    <b>{{"ADMIN_VIEW.MODALS.CONTACT_NUMBER" | translate}}:</b>  {{insurance.contactNumber}}
  </p>
</div>
