/* You can add global styles to this file, and also import other style files */
$color-overcast: #F1F1F2;
$color-warm-gray: #BCBABE;
$color-ice: #A1D6E2;
$color-glacier-blue: #1995AD;
$color-border: #CCCCCC;
body {
  font-family: Roboto, sans-serif;
}


